name: CI

on:
  push:
    branches:
      - develop
      - master
      - main
      - feature/**
  pull_request:
    branches:
      - develop
      - master
      - main

jobs:
  test:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Set up Python
        uses: actions/setup-python@v5
        with:
          python-version: "3.12"

      - name: Install dependencies
        run:
          pip install --upgrade pip &&
          pip install -r requirements.txt &&
          pip install pytest

      - name: Run tests
        run: pytest

  docker-build:
    runs-on: ubuntu-latest
    needs: test

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Build Docker image
        run: docker build -t bbb-led-webcontrol .
